{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
    {{$filter:= .Filter}}
    <div id="filters">
        <button id="openfiltersbutton" class="likeicon" onclick="openFilters()"><img class="likeicon" id="filterslogo" src="https://cdn-icons-png.flaticon.com/512/3161/3161370.png"></img><img class="likeicon" id="closefilterslogo" src="https://cdn-icons-png.flaticon.com/512/2734/2734822.png"></img></button>
        <div id="filterform" class="post" style="display:none">
            <form id="fform">
                <p>Select a category:</p>
                {{range  .Categories}}
                    <label class="categorylabel {{if $filter.IsCheckedCategory .ID}}selected{{end}}"><input type="checkbox" id = {{.ID}} class="categories {{if $filter.IsCheckedCategory .ID}}selected{{end}}" name="categoriesID" value={{.ID}} {{if $filter.IsCheckedCategory .ID}}checked{{end}}>{{.Name}}</label>
                {{end}}
                 {{if .Session.IsLoggedin}}
                <p>Show only:</p>
                <div class="switches">
                <label for="MyPosts" class="labls">My posts</label>
                <label class="switch">
                    <input type="checkbox" {{if $filter.AuthorID}}checked{{end}} name="author" value="{{.Session.User.ID}}">
                    <span class="slider round"></span>
                </label><br>
                </div>
                <div class="switches">
                <label for="MyLikes" class="labls">My likes</label>
                <label class="switch" id="liks">
                    <input type="checkbox" {{if $filter.LikedByUserID}}checked{{end}} name="likedby" value="{{.Session.User.ID}}">
                    <span class="slider round"></span>
                  </label><br>
                </div>
                <div class="switches">
                <label for="MyDislikes" class="labls">My dislikes</label>
                <label class="switch" id="disliks">
                    <input type="checkbox" {{if $filter.DisLikedByUserID}}checked{{end}} name="dislikedby" value="{{.Session.User.ID}}">
                    <span class="slider round"></span>
                  </label><br>
                </div>
                {{end}}
                <input type="submit" value="Filter" id="filtr" class="signinupformbutton">
            </form>
        </div>
    </div>


    {{$loggedin := .Session.IsLoggedin}}
    
    {{range .Posts}}
        <div class="post">
                <p id={{.ID}} class="post-id">#{{.ID}} by {{template "linkuser" .}} {{range .Categories}} <span id={{.ID}}>, #{{.Name}}</span>{{end}}</p>
                <a href="/post/p{{.ID}}">
                    <div id="{{.ID}}-content" class="post-content">
                        <p><b>{{.Theme}}</b></p>
                        {{.Message.Content}}
                    </div>
                </a>
                <div id="reactions">
                    {{if $loggedin}}
                        <span id="{{.ID}}-posts_likes-true-n">{{index .Message.Likes 0}}</span><button id="{{.ID}}-posts_likes-true" messageID={{.ID}} messageType="posts_likes" like="true" class="likeicon" name="post-true" onclick="handleLike(this.id)"><img class="likeicon" src="https://cdn-icons-png.flaticon.com/512/3128/3128316.png"></img></button>
                        <span id="{{.ID}}-posts_likes-false-n">{{index .Message.Likes 1}}</span><button id="{{.ID}}-posts_likes-false" messageID={{.ID}} messageType="posts_likes" like="false" class="likeicon" name="post-false" onclick="handleLike(this.id)"><img class="likeicon" src="https://cdn-icons-png.flaticon.com/512/3128/3128319.png"></button>
                    {{else}} 
                        <span id="{{.ID}}-posts_likes-true-n">{{index .Message.Likes 0}}</span><button id="{{.ID}}-posts_likes-true" class="likeicon not-active-link" name="post-true"><img class="likeicon not-active-link" src="https://cdn-icons-png.flaticon.com/512/3128/3128316.png"></img></button>
                        <span id="{{.ID}}-posts_likes-false-n">{{index .Message.Likes 1}}</span><button id="{{.ID}}-posts_likes-false" class="likeicon not-active-link" name="post-false"><img class="likeicon not-active-link" src="https://cdn-icons-png.flaticon.com/512/3128/3128319.png"></img></button>
                    {{end}}
                        <a href="/post/p{{.ID}}" id="{{.ID}}-comments-link" class="comments-link">Comments ({{.CommentsQuantity}})</a>
                </div>
        </div>
    {{else}}
    <div class="post">
        <p>Nothing to show :(</p>
    </div>
    {{end}}
{{end}}