{{template "base" .}}

{{define "title"}}signed up{{end}}

{{define "main"}}
     <div class="post">
        <img src="/static/img/tick.png" id="ticksuccessfulreg"></img>
        <p id="success">Congratulations!</p>
    <span id="accountcreated">Your account has been created</span>
    <button class="signinupformbutton" id="signinsuccess" onclick="signIn()">Sign in</button></p>
    </div>
{{end}}   